; editor configuration powered by http://editorconfig.org/
; Top-most EditorConfig file
root = true

[*]
trim_trailing_whitespace = true

[*.fs]
end_of_line = crlf
indent_style = space
indent_size = 4

[*.sh]
end_of_line = lf
